.activities {
    display: flex;
    width: 100%;
}

.selectors {
    background-color: #f1f1f1;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: right;
    max-height: 100%;
    padding-left: 0%;
}


.option {
    width: 100%;
    padding: 50px 00px 50px 30px;
    cursor: pointer;
    border: none;
}

.option:hover img {
    transform: scale(1.02);
}

.option:hover p {
    transform: scale(1.02);
}

.option p {
    color: black;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}


.option img {
    width: 70px;
    padding: 20px;
    display: block;
    margin: auto;
    align-self: center;
    clip-path: polygon(20% 0%, 0% 100%, 100% 100%, 100% 0%);
}


.option:focus {
    background-color: red;
}

.option:focus img {
    background-color: white;
}

.option:focus p {
    color: white;
}